body {
  margin: 0px;
  background-color: #444;
  font-family: monospace;
  font-size: 10px;
  color: #DDD;
  text-align: center;
}

.app {
  margin: 5px;
  border: 1px #999 solid;
  border-radius: 10px;
  background: #222;
  padding: 7px;
}

.topline {
  font-size: 12px;
}

div {
  margin: 2px;
  padding: 2px;
}

canvas {
  border: 1px solid #444;
  background-color: #000;
  border-radius: 10px;
}

.StateViewer {
  background: #331;
  border: 1px #ABF solid;
  border-radius: 7px;
  padding: '5px';
  font-family: monospace;
  font-size: 9;
}

button {
  margin: 3px;
  background-color: #FEFDFB;
  color: #06B;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
}

button.text {
  font-weight: normal;
}

button.disabled {
  background-color: #F9F9F9;
  color: #DDD;
  cursor: default;
}

input {
  cursor: pointer;
}
